<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Electrcity Management System ">
    
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes">
    >
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Electrcity Management System</title>
    
    
    <style type="text/css">
      .img-fluid1{
        max-width: 100%;
        height: 100%;
        display: block;
      }
    </style>
    
     </head>
    <body>
<main>
  <br>
<div class="rel"></div>
<div class="breadcrumb_outer hidden-xs">
<div class="container">
<nav aria-label="breadcrumb">
    <ul class="breadcrumb">
       <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Bills Of All Consumers </li>
    </ul>
</nav>
</div>
</div>
<div class="off_white">

<div class="mid_area">
    <div class="pro_box">
                <table class="table table-stripped">
                <thead class="thead-light">
                    <tr>
                    <th>BillId</th>
                    <th>DateTime</th>
                    <th>OldReading</th>
                    <th>NewReading</th>
                    <th>BilledUnits</th>
                    <th>Total</th>
                    <th>ConsumerId</th>
                    <th>ConnectionId</th>
                    <th>ConnectionTypeId</th>
                    </thead>
            
                    <tbody>
                  <tr *ngFor = "let bill of bills">
                  <td>{{bill.id}}</td>
                 <td>{{bill.dateTime}}</td>
                  <td>{{bill.oldReading}}</td>
                      <td>{{bill.newReading}}</td>
                 <td>{{bill.billedUnits}}</td>
                  <td>{{bill.totalAmount}}</td>
                      <td>{{bill.consumer?.id}}</td>
                 <td>{{bill.connections?.id}}</td>
                  <td>{{bill.connection_type?.id}}</td>
                </tr>
    </tbody>
	</table>
</div>

  <div class="clearfix"></div>
</div>

</div>
</main>
</body>
</html>
